@model ModelDemo.Models.Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        TEST 3
    </div>

    <p>Navn = @Model.Navn</p>
    <hr \ />

    @Html.DisplayForModel()

    <hr \ />

    @Html.EditorForModel()
</body>
</html>
