
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test11</title>
</head>
<body>
<a href="/home/test11?id=8&navn=Jørgen&alder=69">Link</a>
</body>
</html>
