@model WebApplication1.Controllers.Test9ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test9</title>
</head>
<body>
    <div>id: @Model.Id</div>
    <div>streng: @Model.Streng</div>
</body>
</html>
